#exe
client/mysql
client/mysql_config_editor
client/mysql_install_db
client/mysql_plugin
client/mysql_secure_installation
client/mysql_ssl_rsa_setup
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlpump
client/mysqlshow
client/mysqlslap
client/mysqltest

#cscope
cscope.files
gencs.sh
tags

#cmake
*.cmake
*CMakeFiles*
Makefile

#.gitignore
./.gitignore

#build
cmake-build-debug/
cmake-build-release/
mysql-test/collections/default.release
mysql-test/collections/default.release.done


#IDE
.idea/
ME.iml
misc.xml
modules.xml
workspace.xml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#other
CMakeCache.txt
Docs/INFO_BIN
Docs/INFO_SRC
VERSION.dep
client/mysql_config_editor
client/mysql_install_db
client/mysql_plugin
client/mysql_secure_installation
client/mysql_ssl_rsa_setup
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlpump
client/mysqlshow
client/mysqlslap
client/mysqltest
cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/makelist
cmd-line-utils/libedit/vi.h
extra/comp_err
extra/innochecksum
extra/lz4_decompress
extra/my_print_defaults
extra/perror
extra/protobuf/protoc
extra/replace
extra/resolve_stack_dump
extra/resolveip
extra/zlib_decompress
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_error.h
include/probes_mysql_dtrace.h
include/sql_state.h
install_manifest.txt
libbinlogevents/include/binlog_config.h
libmysql/api_test.c
libmysql/libmysql.ver
libmysql/libmysql_api_test
libmysql/libmysql_exports_file.cc
libmysql/mysqlclient_depends.c
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
libmysqld/lex_hash.h
libmysqld/lex_token.h
libmysqld/mysqlserver_depends.c
libmysqld/sql_hints.yy.cc
libmysqld/sql_hints.yy.h
libmysqld/sql_yacc.cc
libmysqld/sql_yacc.h
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysys/base64_test
mysys/queues
mysys/thr_lock
packaging/rpm-common/my.cnf
packaging/rpm-common/mysql.logrotate
packaging/rpm-docker/mysql.spec
packaging/rpm-fedora/mysql.spec
packaging/rpm-oel/mysql.spec
packaging/rpm-sles/mysql.spec
plugin/rewriter/install_rewriter.sql
plugin/rewriter/uninstall_rewriter.sql
rapid/plugin/group_replication/include/mysql/
rapid/plugin/group_replication/include/xcom/
rapid/plugin/group_replication/xdr_gen/
rapid/plugin/x/generated/
rapid/plugin/x/mysqlxtest
regex/re
scripts/comp_sql
scripts/make_binary_distribution
scripts/mysql_config
scripts/mysql_config.pl
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mysqlclient.pc
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/sql_commands_help_data.h
scripts/sql_commands_sys_schema.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
sql/gen_lex_hash
sql/gen_lex_token
sql/lex_hash.h
sql/lex_token.h
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/share/bulgarian/
sql/share/czech/
sql/share/danish/
sql/share/dutch/
sql/share/english/
sql/share/estonian/
sql/share/french/
sql/share/german/
sql/share/greek/
sql/share/hungarian/
sql/share/italian/
sql/share/japanese/
sql/share/korean/
sql/share/norwegian-ny/
sql/share/norwegian/
sql/share/polish/
sql/share/portuguese/
sql/share/romanian/
sql/share/russian/
sql/share/serbian/
sql/share/slovak/
sql/share/spanish/
sql/share/swedish/
sql/share/ukrainian/
sql/sql_builtin.cc
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_misc-t
storage/perfschema/unittest/pfs_noop-t
storage/perfschema/unittest/pfs_user-oom-t
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysqld_multi.server
support-files/plugins.files
testclients/bug25714
testclients/mysql_client_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/t/basic-t
